p {
    font-size: 3.5rem;
}

p:first-of-type {
    margin-bottom: 3rem;
}

p:last-of-type {
    margin-bottom: 7rem;
}

span {
    font-weight: bold;
}

button {
    padding: 1rem 1.5rem;
    font-size: 2rem;
}

.modal-body p {
    font-size: 2rem;
}